# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/build/
key.properties
keystore.properties
*.jks
*.keystore
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
